.font-asset {
    font-size: 4em;
    font-family: 'Asset', cursive;
}
.font-exo {
    font-size: 6em;
    font-family: 'Exo', sans-serif;
}
.font-archivo-black {
    font-size: 7em;
    font-family: 'Archivo Black', sans-serif;
}
.font-cinzel {
    font-size: 7em;
    font-family: 'Cinzel', serif;
}
.font-kanit {
    font-size: 8em;
    font-family: 'Kanit', sans-serif;
}
.font-paytone-one {
    font-size: 7em;
    font-family: 'Paytone One', sans-serif;
}
.font-syncopate {
    font-size: 5.5em;
    font-family: 'Syncopate', sans-serif;
}
.font-limelight {
    font-size: 7em;
    font-family: 'Limelight', cursive;
}








