@import 'reset';
@import 'colors';
@import 'fonts';
@import 'margin-padding';

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

#color-swatch {
    height: 150px;
}

.letter {
    height: 300px;
    width: 300px;
    border: solid 1px $pink;
}

.font-size-8-em {
    font-size: 8em;
}
.font-size-9-em {
    font-size: 9em;
}
.font-size-10-em {
    font-size: 10em;
}

.uppercase {
    text-transform: uppercase;
}

.no-wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.background {
    z-index: 1;
}
.foreground {
    z-index: 2;
}

.position-relative {
    position: relative;
}
.top-0 {
    top: 0;
}

canvas {
    z-index: 1;
    top: 0;
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

.underline-white {
    -webkit-text-decoration-style: $off-white;
    -webkit-text-decoration-line: underline;
    text-decoration-style: $off-white;
    text-decoration-line: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.clicked {
    transform: scale(1.5);
    transition: transform 0.6s;
}