<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>T R I P O W</title>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Asset|Cinzel:900|Exo:900|Kanit:800|Limelight|Montserrat:900|Paytone+One|Seymour+One|Syncopate:700" rel="stylesheet">
        <link rel="stylesheet" href="main.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.10/p5.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
        <script src="//www.gstatic.com/firebasejs/4.0.0/firebase-app.js"></script>
        <script src="//www.gstatic.com/firebasejs/4.0.0/firebase-auth.js"></script>
        <script src="//www.gstatic.com/firebasejs/4.0.0/firebase-database.js"></script>
        <script src="//www.gstatic.com/firebasejs/4.0.0/firebase-storage.js"></script>
        <script src="main.bundle.js"></script>
    </head>
    <body ng-app="tripow"
    ng-controller="ApplicationController as $ctrl"
    class="layout-column">
        <div ng-show="!$ctrl.menuIsOn && $ctrl.canvasReady" id="canvas" class="position-relative background"></div>
        <div ng-if="!$ctrl.menuIsOn"
        class="position-relative color-black foreground md-display-3 overflow-hidden">
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center height-100">
                G E F H A E 3 X Y S I H V N W A
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                O 6 A P 2 N 8 V P X W X A Z U 3
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                K Y 4 C P S X J E 4 H P W E 5 C
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                9 V F P X A E C U D A W V X W L
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                C 0 Z 6 G S N B 5 L Q R V A N M
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                X 6&nbsp;<span class="hide show-gt-xs">L P O E&nbsp;</span>D&nbsp;
                <span ng-click="$ctrl.showMenu()" ng-show="$ctrl.canvasReady"
                id="tripow" class="color-off-white underline-white cursor-pointer">T R I P O W</span>
                &nbsp;X Q N
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                H X Y E 7 V S K E 3 R W F H D K
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                L 0 H N E S W J H Z R C P O U B
            </div>
             <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                O M K F Y X W J 2 J Q W X X M H
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                G T D 7 G J L I F 4 O 2 J D B R P
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                K R I D W C 5 A X I E C H 2 D 8 S
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                R H 4 H D W I W F B N S 8 H F C K
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                E X H Y N D S 0 E C Y D B J E 5 H
            </div>
            <div class="layout-row padding-top-16 no-wrap-text layout-align-center-center">
                O X H E B J E Z B M U 9 4 D A B H
            </div>
        </div>
        <div ng-if="$ctrl.menuIsOn"
        ng-class="{'md-display-2': $ctrl.$mdMedia('xs'),
        'md-display-3': $ctrl.$mdMedia('gt-xs')}"
        class="layout-column layout-fill foreground-menu overflow-hidden fade-element-in">
            <div class="layout-row layout-align-end md-padding">
                <md-button ng-click="$ctrl.closeMenu()"
                class="md-primary md-fab">
                    <span class="color-black">x</span>
                </md-button>
            </div>
            <div class="layout-column layout-fill layout-align-space-around-center">
                <a href="//www.youtube.com/watch?v=XIaBehpmIoA"
                target="_blank"
                class="color-off-white">Y O U T U B E</a>
                <a href="//www.facebook.com/tripowband"
                target="_blank"
                class="color-off-white">F A C E B O O K</a>
                <a href="//tripow.bandcamp.com/releases"
                target="_blank"
                class="color-off-white">B A N D C A M P</a>
            </div>
        </div>
    </body>
</html>
